body {
    margin: 0;
    height: 150vh;
    overflow: hidden;
    background-color: #f5f5fd;
    color: #414279;
    // font-family: "Baloo Tammudu 2", cursive;
    // font-family: "Roboto", sans-serif;
    font-family: "Avenir Next";
    font-size: 0.8rem;
    outline: none;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #c5c5c5;
}

#root {
    height: 100vh;
}
